#cadre
{
	position: absolute;
	z-index: 2;
	top:1px;
	right:1px;
	
}
#time
{
    width: 50px;
    height: 25px;
    position: absolute;
    z-index: 3;
    top:8px;
    right:6px;
    border-radius:5px;
    text-align: center;
    vertical-align:middle;
}
#map
{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    
}

#gps
{
	position: absolute;
	right: 0px;
	top:35px;
	z-index: 3;
	width:40px;
	height:40px;
}

#screen_map
{
	height:100%;
	width:100%;
}

#label{
  z-index:5;
  position: absolute;
  bottom:3px;
  left: 5px;
}

#onglet{
  z-index:4;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#bras_onglet{
  z-index:3;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height:3px;
}

#zone-notif{
  z-index: 2;
  position: absolute;
  bottom:0px;
  left:0px;
  width: 100%;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  overflow-y: auto;
  overflow : -moz-scrollbars-vertical;
  
  transition: height 0.5s ease-in;
  -moz-transition: height 0.5s ease-in;
  -webkit-transition: height 0.5s ease-in;
}

.barre_onglet{
    animation-name: animation_barre-hide;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    animation-play-state: play;
}

@keyframes animation_barre-show {
  from { transform:translateY(0px); -moz-transform:translateY(0px); -webkit-transform:translateY(0px);}
  to   { transform: translateY(-75px); -moz-transform: translateY(-75px); -webkit-transform: translateY(-75px);}
}

@keyframes animation_barre-hide {
  from { transform:translateY(-75px); -moz-transform: translateY(-75px); -webkit-transform: translateY(-75px);}
  to   { transform: translateY(0px); -moz-transform:translateY(0px); -webkit-transform:translateY(0px);}
}
