#loading_pict
{
	width:30px;
	height:30px;
	position: absolute;
	top:10px;
	left: 10px;
	
}

#loading_logo
{
	animation-name: animation_logo;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;

    animation-play-state: running;
}

@keyframes animation_logo {
    0%  {transform: rotate(360deg);}
    1%  {transform: rotate(350deg);}
    3%  {transform: rotate(370deg);}
    4%  {transform: rotate(360deg);}
    20% {transform: rotate(360deg);}
    
    51% {transform: rotate(730deg);}
    53% {transform: rotate(710deg);}
    54% {transform: rotate(720deg);}
    70% {transform: rotate(720deg);}
    100%{transform: rotate(360deg);}
}

#tableau
{
	width: 400px;
	position:relative;
	left: 50%;
	margin-left: -200px;
}

#tableau
{
	border-collapse: none;
	width: 330px;
	left: 50%;
	margin-left: -165px;
}

#players-tidu
{
	border: 1px solid black;
	text-align: center;
	height:0px;
	width: 40%;
}

#players-tizef
{
	border: 1px solid black;
	text-align: center;
	height:0px;
	width: 40%;
}
