#screen_connection
{
	background:#d2d2d2;
}

#formulaire
{
	width:280px;
	position:relative;
	left:50%;
	margin-left:-92px;
}

#formulaire_team
{
	position:relative;
	margin-left:65px;
}

#formulaire_tidu
{
	position:relative;
	margin-left:-5px;
}

#formulaire_tizef
{
	position:relative;
	margin-left:55px;
}

#formulaire_connexion
{
	position:relative;
	margin-left:45px;
}

#formulaire_others
{
	width:300px;
	position:relative;
	left:50%;
	margin-left:-150px;
}
#formulaire_modIP
{
	position:relative;
	margin-left:10px;
}

#formulaire_regle
{
	position:relative;
	margin-left:70px;
}

#modifIP
{
	position:relative;
	margin-left:60px;
}
