p, h4
{
	text-align: center;
}

#pour-centrage
{
position : relative;
	width: 165px;
	height: 165px;
	left:-82.5px;
	margin-left:50%;
}

#pierre
{
	width: 80px;
	height: 80px;
	position : absolute;
	left:0px;
	top:0px;

}

#papier
{
	width: 80px;
	height: 80px;
	position : absolute;
	left:85px;
	top:0px;

}

#ciseaux
{
	width: 80px;
	height: 80px;
	position : absolute;
	left:40px;
	top:85px;

}
